Redirect permanent /userGuide      http://struts.apache.org/struts-action/userGuide
Redirect permanent /faqs           http://struts.apache.org/struts-action/faqs
Redirect permanent /struts-core    http://struts.apache.org/struts-action
Redirect permanent /shale          http://struts.apache.org/struts-shale
Redirect permanent /flow           http://struts.apache.org/struts-flow
Redirect permanent /faces          http://struts.apache.org/struts-faces
Redirect permanent /bsf            http://struts.apache.org/struts-scripting
Redirect permanent /struts-bsf     http://struts.apache.org/struts-scripting
Redirect permanent /struts-plugins http://struts.apache.org/struts-extras
Redirect permanent /learning.html  http://struts.apache.org/struts-action/learning.html
Redirect permanent /using.html     http://struts.apache.org/struts-action/userGuide/index.html

